/* Configurações Globais */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background: #132235;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header .logo {
  height: 70px;
}

header nav .menu {
  list-style: none;
  display: flex;
}

header nav .menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  font-size: 12px;
  margin-right: 25px;
  transition: color 0.7s;
}

header nav .menu a:hover {
  color: #69d2cc;
}

hr {
  width: 90%;
  opacity: 0.8;
  margin: auto;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header {
    flex-direction: column;
  }

  header nav .menu {
    margin-top: 20px;
    padding: 0;
  }

  header nav .menu a {
    margin-right: 7px;
  }
}

/* Main - Kitnet */

main {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

main #kitnet {
  grid-row: 1;
  padding: 20px 0 20px 0;
}

main #compartilhados {
  grid-row: 2;
}

main .imagem {
  width: 100%;
  height: 170px;
  margin: 0 auto;
  border: 1px solid black;
  background-image: url(./apartamento1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

main .imagem-2 {
  width: 100%;
  height: 170px;
  margin: 0 auto;
  border: 1px solid black;
  background-image: url(./apartamento2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

main .imagem h2,
main .imagem-2 h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  font-size: 40px;
  border-bottom: 2px solid #fff;
}

main .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 30px 30px 0 30px;
}

main .card {
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

main .card:hover {
  cursor: pointer;
  color: #69d2cc;
  border: 2px solid #69d2cc;
}

main .card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  transition: transform 0.2s;
}

main .card img:hover {
  transform: scale(1.3);
  border-radius: 20px;
}

main .card .desc {
  text-align: center;
}

main .card .desc ul {
  list-style: none;
  padding: 0;
}

main .card .desc ul li {
  padding: 0 0 5px 0;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  main .cards {
    grid-template-columns: 1fr;
  }

  main .imagem h2,
main .imagem-2 h2 {
  font-size: 2rem;
}

  main .sumir-quando-celular {
    display: none;
  }
}
